<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<div class="row">
			<div class="12u skel-cell-mainContent" id="content">
				<article id="main" class="special">
					<header>
						<h2><a href="#">Page not found (404)</a></h2>
						<span class="byline">
							The page your looking for is missing or gone.
						</span>
					</header>
					<section>
						<header>
							<h3>The URL may be typed incorrect</h3>
						</header>
						<p>
							Nascetur volutpat nibh ullamcorper vivamus at purus. Cursus ultrices porttitor sollicitudin imperdiet at pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit fringilla consequat dis arcu. Pellentesque mus tempor vitae pretium sodales porttitor lacus. Phasellus egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna. 
						</p>
						<p>
							Eleifend auctor turpis magnis sed porta nisl pretium. Aenean suspendisse nulla eget sed etiam parturient orci cursus nibh. Quisque eu nec neque felis laoreet diam morbi egestas. Dignissim cras rutrum consectetur ut penatibus fermentum nibh erat malesuada varius. 
						</p>
					</section>
					<section>
						<header>
							<h3>The Page may have been removed</h3>
						</header>
						<p>
							Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna. 
						</p>
					</section>
				</article>
			</div>
		</div>
		
	</div>

</div>