<div id="header">
			
	<!-- Inner -->
	<% if (current.source == 'index') { %>	
		<div class="inner">
			<header>
				<h1><a href="/" id="logo">Helios</a></h1>
				<hr />
				<span class="byline">Another fine freebie by HTML5 UP</span>
			</header>
 			<footer>
				<a href="#banner" class="button circled scrolly">Start</a>
			</footer>
		</div> 
	<% } %>	

	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li>
					<span>Dropdown</span>
					<ul>
						<li><a href="#">Lorem ipsum dolor</a></li>
						<li><a href="#">Magna phasellus</a></li>
						<li><a href="#">Etiam dolore nisl</a></li>
						<li>
							<span>And a submenu &hellip;</span>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Phasellus consequat</a></li>
								<li><a href="#">Magna phasellus</a></li>
								<li><a href="#">Etiam dolore nisl</a></li>
							</ul>
						</li>
						<li><a href="#">Veroeros feugiat</a></li>
					</ul>
				</li>
				<li><a href="/left-sidebar">Left Sidebar</a></li>
				<li><a href="/right-sidebar">Right Sidebar</a></li>
				<li><a href="/no-sidebar">No Sidebar</a></li>
			</ul>
		</nav>
</div>